/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */

#page {
  /*background-image: url("img/rag.png");
  repeat: repeat-x;
      >>>>above not working
  */
  padding: 2em .8em;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.characters li {
  float: left;
  display: inline;
}

img {
  max-width: 100%;
}

.main p{
  text-align: left;
}

.logo-bg {
  position: relative;
}

@media screen and (max-width: 1300px) {

    .characters img {
      max-width: 100%;
      border-radius: 5px;
    }

    .characters li {
      max-width: 33%;
      padding: 3px;
    }
}

@media screen and (min-width: 601px) {
  body {
    text-align: center;
  }

  .quote {
    font-size: 30px;
  }

  .logo {
    background-image: url("../img/logo-bg.png");
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 279px;
    top: 0px;
    vertical-align: middle;
  }

  .logo img {
    display: block;
    margin: auto;
  }

  .characters li {
    display: block;
  }
  .mast {
    position: relative;
    float: left;
    width: 31.875%;
  }

  .top, .bottom {
    float: right;
    width: 65.9375%;
  }

  /*.logo {
    position: absolute;
    top: 80px;
    left:
  }*/
}
/*LARGE-ISH SCREEN*/

@media screen and (max-width: 1300px) and (min-width: 601px) {

}

/*MEDIUM SCREEN*/
@media screen and (max-width: 600px) {

  .logo {
    padding: 18px;

  }

  ul.nav {
    overflow: auto;
  }

  .nav li {
    font-size: 11px;
    font-family: sans-serif;
    text-align: center;
    padding: 10px 20px;
    max-height: 45px;
    width: 33.33%;
    float: left;
    display: inline;
  }

  .second-part {
    text-align: center;
  }

  .quote {
    font-size: 22px;
    text-align: center;
  }

  .mast {
    overflow: auto;
    text-align: center;
  }

  /*.main p{
    text-align: left;
  }*/

  .sub-head {
    text-align: center;
  }

  .logo-bg {
    display: none;
  }

}

/*SMALLEST SCREEN SIZE*/
@media screen and (max-width: 400px) {
  .characters li {
    max-width: 50%;
    padding: 3px;
  }


}


/*media queries at end of file*/
